src/conf/xml-resources/web-service-references/adminEndpoint/wsdl/localhost_8080/Lunch1/adminEndpoint.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://enpoint.lunch.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://enpoint.lunch.com.co/" name="adminEndpoint">
<types>
<xsd:schema>
<xsd:import namespace="http://enpoint.lunch.com.co/" schemaLocation="http://localhost:8080/Lunch1/adminEndpoint?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="ingresaInformacionNutricionalEntity">
<part name="parameters" element="tns:ingresaInformacionNutricionalEntity"/>
</message>
<message name="ingresaInformacionNutricionalEntityResponse">
<part name="parameters" element="tns:ingresaInformacionNutricionalEntityResponse"/>
</message>
<message name="actualizaInformacionNutricionalEntity">
<part name="parameters" element="tns:actualizaInformacionNutricionalEntity"/>
</message>
<message name="actualizaInformacionNutricionalEntityResponse">
<part name="parameters" element="tns:actualizaInformacionNutricionalEntityResponse"/>
</message>
<message name="listaInformacionNutricionalEntity">
<part name="parameters" element="tns:listaInformacionNutricionalEntity"/>
</message>
<message name="listaInformacionNutricionalEntityResponse">
<part name="parameters" element="tns:listaInformacionNutricionalEntityResponse"/>
</message>
<message name="ingresaCajaPredeterminadaEntity">
<part name="parameters" element="tns:ingresaCajaPredeterminadaEntity"/>
</message>
<message name="ingresaCajaPredeterminadaEntityResponse">
<part name="parameters" element="tns:ingresaCajaPredeterminadaEntityResponse"/>
</message>
<message name="actualizaCajaPredeterminadaEntity">
<part name="parameters" element="tns:actualizaCajaPredeterminadaEntity"/>
</message>
<message name="actualizaCajaPredeterminadaEntityResponse">
<part name="parameters" element="tns:actualizaCajaPredeterminadaEntityResponse"/>
</message>
<message name="listaCajaPredeterminadaEntity">
<part name="parameters" element="tns:listaCajaPredeterminadaEntity"/>
</message>
<message name="listaCajaPredeterminadaEntityResponse">
<part name="parameters" element="tns:listaCajaPredeterminadaEntityResponse"/>
</message>
<message name="ingresaCategoriaEntity">
<part name="parameters" element="tns:ingresaCategoriaEntity"/>
</message>
<message name="ingresaCategoriaEntityResponse">
<part name="parameters" element="tns:ingresaCategoriaEntityResponse"/>
</message>
<message name="actualizaCategoriaEntity">
<part name="parameters" element="tns:actualizaCategoriaEntity"/>
</message>
<message name="actualizaCategoriaEntityResponse">
<part name="parameters" element="tns:actualizaCategoriaEntityResponse"/>
</message>
<message name="listaCategoriaEntity">
<part name="parameters" element="tns:listaCategoriaEntity"/>
</message>
<message name="listaCategoriaEntityResponse">
<part name="parameters" element="tns:listaCategoriaEntityResponse"/>
</message>
<message name="ingresaCombinacionesEntity">
<part name="parameters" element="tns:ingresaCombinacionesEntity"/>
</message>
<message name="ingresaCombinacionesEntityResponse">
<part name="parameters" element="tns:ingresaCombinacionesEntityResponse"/>
</message>
<message name="actualizaCombinacionesEntity">
<part name="parameters" element="tns:actualizaCombinacionesEntity"/>
</message>
<message name="actualizaCombinacionesEntityResponse">
<part name="parameters" element="tns:actualizaCombinacionesEntityResponse"/>
</message>
<message name="listaCombinacionesEntity">
<part name="parameters" element="tns:listaCombinacionesEntity"/>
</message>
<message name="listaCombinacionesEntityResponse">
<part name="parameters" element="tns:listaCombinacionesEntityResponse"/>
</message>
<message name="ingresaGrupoAlimenticioEntity">
<part name="parameters" element="tns:ingresaGrupoAlimenticioEntity"/>
</message>
<message name="ingresaGrupoAlimenticioEntityResponse">
<part name="parameters" element="tns:ingresaGrupoAlimenticioEntityResponse"/>
</message>
<message name="actualizaGrupoAlimenticioEntity">
<part name="parameters" element="tns:actualizaGrupoAlimenticioEntity"/>
</message>
<message name="actualizaGrupoAlimenticioEntityResponse">
<part name="parameters" element="tns:actualizaGrupoAlimenticioEntityResponse"/>
</message>
<message name="listaGrupoAlimenticioEntity">
<part name="parameters" element="tns:listaGrupoAlimenticioEntity"/>
</message>
<message name="listaGrupoAlimenticioEntityResponse">
<part name="parameters" element="tns:listaGrupoAlimenticioEntityResponse"/>
</message>
<message name="ingresaGrupoAlimenticioProductoEntity">
<part name="parameters" element="tns:ingresaGrupoAlimenticioProductoEntity"/>
</message>
<message name="ingresaGrupoAlimenticioProductoEntityResponse">
<part name="parameters" element="tns:ingresaGrupoAlimenticioProductoEntityResponse"/>
</message>
<message name="actualizaGrupoAlimenticioProductoEntity">
<part name="parameters" element="tns:actualizaGrupoAlimenticioProductoEntity"/>
</message>
<message name="actualizaGrupoAlimenticioProductoEntityResponse">
<part name="parameters" element="tns:actualizaGrupoAlimenticioProductoEntityResponse"/>
</message>
<message name="listaGrupoAlimenticioProductoEntity">
<part name="parameters" element="tns:listaGrupoAlimenticioProductoEntity"/>
</message>
<message name="listaGrupoAlimenticioProductoEntityResponse">
<part name="parameters" element="tns:listaGrupoAlimenticioProductoEntityResponse"/>
</message>
<message name="ingresaItemEntity">
<part name="parameters" element="tns:ingresaItemEntity"/>
</message>
<message name="ingresaItemEntityResponse">
<part name="parameters" element="tns:ingresaItemEntityResponse"/>
</message>
<message name="actualizaItemEntity">
<part name="parameters" element="tns:actualizaItemEntity"/>
</message>
<message name="actualizaItemEntityResponse">
<part name="parameters" element="tns:actualizaItemEntityResponse"/>
</message>
<message name="listaItemEntity">
<part name="parameters" element="tns:listaItemEntity"/>
</message>
<message name="listaItemEntityResponse">
<part name="parameters" element="tns:listaItemEntityResponse"/>
</message>
<message name="ingresaMarcaEntity">
<part name="parameters" element="tns:ingresaMarcaEntity"/>
</message>
<message name="ingresaMarcaEntityResponse">
<part name="parameters" element="tns:ingresaMarcaEntityResponse"/>
</message>
<message name="actualizaMarcaEntity">
<part name="parameters" element="tns:actualizaMarcaEntity"/>
</message>
<message name="actualizaMarcaEntityResponse">
<part name="parameters" element="tns:actualizaMarcaEntityResponse"/>
</message>
<message name="listaMarcaEntity">
<part name="parameters" element="tns:listaMarcaEntity"/>
</message>
<message name="listaMarcaEntityResponse">
<part name="parameters" element="tns:listaMarcaEntityResponse"/>
</message>
<message name="ingresaProductoEntity">
<part name="parameters" element="tns:ingresaProductoEntity"/>
</message>
<message name="ingresaProductoEntityResponse">
<part name="parameters" element="tns:ingresaProductoEntityResponse"/>
</message>
<message name="actualizaProductoEntity">
<part name="parameters" element="tns:actualizaProductoEntity"/>
</message>
<message name="actualizaProductoEntityResponse">
<part name="parameters" element="tns:actualizaProductoEntityResponse"/>
</message>
<message name="listaProductoEntity">
<part name="parameters" element="tns:listaProductoEntity"/>
</message>
<message name="listaProductoEntityResponse">
<part name="parameters" element="tns:listaProductoEntityResponse"/>
</message>
<portType name="adminEndpoint">
<operation name="test">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/testRequest" message="tns:test"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/testResponse" message="tns:testResponse"/>
</operation>
<operation name="ingresaInformacionNutricionalEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaInformacionNutricionalEntityRequest" message="tns:ingresaInformacionNutricionalEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaInformacionNutricionalEntityResponse" message="tns:ingresaInformacionNutricionalEntityResponse"/>
</operation>
<operation name="actualizaInformacionNutricionalEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaInformacionNutricionalEntityRequest" message="tns:actualizaInformacionNutricionalEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaInformacionNutricionalEntityResponse" message="tns:actualizaInformacionNutricionalEntityResponse"/>
</operation>
<operation name="listaInformacionNutricionalEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaInformacionNutricionalEntityRequest" message="tns:listaInformacionNutricionalEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaInformacionNutricionalEntityResponse" message="tns:listaInformacionNutricionalEntityResponse"/>
</operation>
<operation name="ingresaCajaPredeterminadaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaCajaPredeterminadaEntityRequest" message="tns:ingresaCajaPredeterminadaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaCajaPredeterminadaEntityResponse" message="tns:ingresaCajaPredeterminadaEntityResponse"/>
</operation>
<operation name="actualizaCajaPredeterminadaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaCajaPredeterminadaEntityRequest" message="tns:actualizaCajaPredeterminadaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaCajaPredeterminadaEntityResponse" message="tns:actualizaCajaPredeterminadaEntityResponse"/>
</operation>
<operation name="listaCajaPredeterminadaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaCajaPredeterminadaEntityRequest" message="tns:listaCajaPredeterminadaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaCajaPredeterminadaEntityResponse" message="tns:listaCajaPredeterminadaEntityResponse"/>
</operation>
<operation name="ingresaCategoriaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaCategoriaEntityRequest" message="tns:ingresaCategoriaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaCategoriaEntityResponse" message="tns:ingresaCategoriaEntityResponse"/>
</operation>
<operation name="actualizaCategoriaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaCategoriaEntityRequest" message="tns:actualizaCategoriaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaCategoriaEntityResponse" message="tns:actualizaCategoriaEntityResponse"/>
</operation>
<operation name="listaCategoriaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaCategoriaEntityRequest" message="tns:listaCategoriaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaCategoriaEntityResponse" message="tns:listaCategoriaEntityResponse"/>
</operation>
<operation name="ingresaCombinacionesEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaCombinacionesEntityRequest" message="tns:ingresaCombinacionesEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaCombinacionesEntityResponse" message="tns:ingresaCombinacionesEntityResponse"/>
</operation>
<operation name="actualizaCombinacionesEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaCombinacionesEntityRequest" message="tns:actualizaCombinacionesEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaCombinacionesEntityResponse" message="tns:actualizaCombinacionesEntityResponse"/>
</operation>
<operation name="listaCombinacionesEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaCombinacionesEntityRequest" message="tns:listaCombinacionesEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaCombinacionesEntityResponse" message="tns:listaCombinacionesEntityResponse"/>
</operation>
<operation name="ingresaGrupoAlimenticioEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaGrupoAlimenticioEntityRequest" message="tns:ingresaGrupoAlimenticioEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaGrupoAlimenticioEntityResponse" message="tns:ingresaGrupoAlimenticioEntityResponse"/>
</operation>
<operation name="actualizaGrupoAlimenticioEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaGrupoAlimenticioEntityRequest" message="tns:actualizaGrupoAlimenticioEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaGrupoAlimenticioEntityResponse" message="tns:actualizaGrupoAlimenticioEntityResponse"/>
</operation>
<operation name="listaGrupoAlimenticioEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaGrupoAlimenticioEntityRequest" message="tns:listaGrupoAlimenticioEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaGrupoAlimenticioEntityResponse" message="tns:listaGrupoAlimenticioEntityResponse"/>
</operation>
<operation name="ingresaGrupoAlimenticioProductoEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaGrupoAlimenticioProductoEntityRequest" message="tns:ingresaGrupoAlimenticioProductoEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaGrupoAlimenticioProductoEntityResponse" message="tns:ingresaGrupoAlimenticioProductoEntityResponse"/>
</operation>
<operation name="actualizaGrupoAlimenticioProductoEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaGrupoAlimenticioProductoEntityRequest" message="tns:actualizaGrupoAlimenticioProductoEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaGrupoAlimenticioProductoEntityResponse" message="tns:actualizaGrupoAlimenticioProductoEntityResponse"/>
</operation>
<operation name="listaGrupoAlimenticioProductoEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaGrupoAlimenticioProductoEntityRequest" message="tns:listaGrupoAlimenticioProductoEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaGrupoAlimenticioProductoEntityResponse" message="tns:listaGrupoAlimenticioProductoEntityResponse"/>
</operation>
<operation name="ingresaItemEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaItemEntityRequest" message="tns:ingresaItemEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaItemEntityResponse" message="tns:ingresaItemEntityResponse"/>
</operation>
<operation name="actualizaItemEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaItemEntityRequest" message="tns:actualizaItemEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaItemEntityResponse" message="tns:actualizaItemEntityResponse"/>
</operation>
<operation name="listaItemEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaItemEntityRequest" message="tns:listaItemEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaItemEntityResponse" message="tns:listaItemEntityResponse"/>
</operation>
<operation name="ingresaMarcaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaMarcaEntityRequest" message="tns:ingresaMarcaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaMarcaEntityResponse" message="tns:ingresaMarcaEntityResponse"/>
</operation>
<operation name="actualizaMarcaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaMarcaEntityRequest" message="tns:actualizaMarcaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaMarcaEntityResponse" message="tns:actualizaMarcaEntityResponse"/>
</operation>
<operation name="listaMarcaEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaMarcaEntityRequest" message="tns:listaMarcaEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaMarcaEntityResponse" message="tns:listaMarcaEntityResponse"/>
</operation>
<operation name="ingresaProductoEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaProductoEntityRequest" message="tns:ingresaProductoEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/ingresaProductoEntityResponse" message="tns:ingresaProductoEntityResponse"/>
</operation>
<operation name="actualizaProductoEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaProductoEntityRequest" message="tns:actualizaProductoEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/actualizaProductoEntityResponse" message="tns:actualizaProductoEntityResponse"/>
</operation>
<operation name="listaProductoEntity">
<input wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaProductoEntityRequest" message="tns:listaProductoEntity"/>
<output wsam:Action="http://enpoint.lunch.com.co/adminEndpoint/listaProductoEntityResponse" message="tns:listaProductoEntityResponse"/>
</operation>
</portType>
<binding name="adminEndpointPortBinding" type="tns:adminEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaInformacionNutricionalEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaInformacionNutricionalEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaInformacionNutricionalEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaCajaPredeterminadaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaCajaPredeterminadaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaCajaPredeterminadaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaCategoriaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaCategoriaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaCategoriaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaCombinacionesEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaCombinacionesEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaCombinacionesEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaGrupoAlimenticioEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaGrupoAlimenticioEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaGrupoAlimenticioEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaGrupoAlimenticioProductoEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaGrupoAlimenticioProductoEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaGrupoAlimenticioProductoEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaItemEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaItemEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaItemEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaMarcaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaMarcaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaMarcaEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresaProductoEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizaProductoEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProductoEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="adminEndpoint">
<port name="adminEndpointPort" binding="tns:adminEndpointPortBinding">
<soap:address location="http://localhost:8080/Lunch1/adminEndpoint"/>
</port>
</service>
</definitions>